
/* --- Housekeeping --- */
body, h1, h3, p {margin: 0;}
a {text-decoration: none; color: inherit;}
body {font-family: 'Inter', sans-serif;}
p {line-height: 1.8em; font-size: 17px; font-weight: 300; color: #727272;}
h1 {font-size: 40px;}
h1, h2, h3 {font-weight: 500; color: #0d0c22;}
h2 {text-transform: uppercase; font-size: 13px;}
h2 {margin: 2px;}

button {
    border-radius: 17px;
    border: 0;
    padding: 10px 40px;
    font-size: 13px;
    text-transform: uppercase;
    background-color: white;
}

/* --- Main Menu --- */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

nav a {
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 10px;
}

/* --- Spacing --- */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- index.php --- */
.heading {
    display: flex;
    align-items: center;
    width: 70%;
    padding: 100px 0 50px 0;
}

.heading-description {
    padding-right: 30px;
    width: 65%;
}

.categories a {
    margin: 5px 0;
}

/* Listings items */

.listings-container {
    display: flex;
    justify-content: center;
}

.listings-container-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.listing {margin: 0px 20px; padding: 20px; box-shadow: 0px 12px 18px -6px rgb(0 0 0 / 30%);}
    
.listing { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px; 
}

.description {
    width: 249px;
}

.description, .full-description {
    padding: 10px 0;
}

.full-description-price {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.location {
    display: flex;
    align-items: center;
}

.location img {
    margin-right: 5px;
}

.safety-banner {
    width: 70%;
    margin: 70px 0;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eae4df;
    background-image: url("image/safety.png");
}

.hot-items {
    display: flex;
    margin-bottom: 70px;
}

.category {
    margin-bottom: 100px;
}

.categories {
    display: flex;
}

.categories div {
    width: 300px;
    padding: 60px;
    margin: 10px;
    text-align: center;
}

.category-1 {background: #bdffb7 url("../image/antiques.png") no-repeat center 33%; background-position-x: 94%;}
.category-2 {background-color: #deea75;}
.category-3 {background: #deea75 url("../image/couch.png") no-repeat center 31%; background-position-x: 104%; background-size: 43%;}
.category-4 {background: #ddeede url("../image/hobbies.png") no-repeat center 31%; background-position-x: 104%; background-size: 53%;}
.category-5 {background-color: #f4b744;}
.category-6 {background-color: #e7e6f4;}


/* ---  view-listing.php --- */
form {
    display: flex;
    flex-direction: column;
}

input, select {
    width: 100%;
    padding: 14px;
    margin: 7px 0;
}

.side-by-side {
    display: flex;
    padding: 100px 0 50px 0;
}

.listing-side {
    padding-right: 100px;
}

/* ---  create-listing.php --- */
.inner {
    margin-top: 100px;
    width: 60%;
}